ul{
	list-style: none;
	display: block;
	border: 2px solid #333;
	padding: 10px;
}

li{
	display: inline-block;
	/*margin: 25px 0px 38px 117px;*/
	margin-left: 30px;

	padding: 8px;
	font-size: 1.3em;
	cursor: pointer;
}
li:hover{
	background-color: red;
	color: white;
}

#nav{
	background-color: #dfdfdfa1;
}

