<app-navbar (showme) = "updateValue($event)"></app-navbar>
<!-- <app-banner></app-banner> -->
<div class="container">
	
	<app-content [showme] = "this.showme"></app-content>
</div>

<!-- Create toolbar container -->
<div id="editor">
	
</div>
<!-- <google-chart [title] = "'Number Of Students'" [type] = "'ColumnChart'" [data] = "[['Nepal',4], ['India',5]]"></google-chart>
<google-chart [title] = "'Pie'" [type] = "'PieChart'" [data] = "[['Nepal',7.0], ['India',93.0]]" [options] = "{pieHole: 0.4, is3D: true}"></google-chart>  -->


